<p>
  stories-gursel works!
</p>


<!-- <div id="colorpad" style="width:300px;height:300px;background-color:#000">

  <p  >wtffff</p>

</div> -->
<button 
(click) = 'getRandomColor()'
>Random Color</button>

<button 

(click) = 'sizeminus()'
>Size -</button>
<button 

(click) = 'sizeplus()'
>Size +</button>
<p id = "tekst">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum blanditii
  s doloremque non pariatur consequatur odit iure. Iure et labore, animi ipsum debitis cumque? Laudantium tempore fuga perspiciatis et, culpa nisi?</p>

