<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" label="Gursel" [routerLink]="['/Gursel']" [routerLinkActive]="['ui-button-success']"></button>
    <button pButton type="button" label="Reversename" [routerLink]="['/Reversename']" [routerLinkActive]="['ui-button-success']"></button>
    <button pButton type="button" label="DatumTijd" [routerLink]="['/DatumTijd']" [routerLinkActive]="['ui-button-success']"></button>
    <!--<button pButton type="button" label="RandomNummer" [routerLink]="['/RandomNummer']" [routerLinkActive]="['ui-button-success']"></button>-->
  </div>
</p-toolbar>