<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" label="Home" [routerLink]="['/home']" [routerLinkActive]="['ui-button-success']"></button>
    <button pButton type="button" label="Font options" [routerLink]="['/Gursel']" [routerLinkActive]="['ui-button-success']"></button>
    <button pButton type="button" label="Reverse Name" [routerLink]="['/Reversename']" [routerLinkActive]="['ui-button-success']"></button>
    <button pButton type="button" label="Datum & Tijd" [routerLink]="['/DatumTijd']" [routerLinkActive]="['ui-button-success']"></button>
    <button pButton type="button" label="Random Nummer" [routerLink]="['/RandomNummer']" [routerLinkActive]="['ui-button-success']"></button>
    <button pButton type="button" label="Set Date Countdown" [routerLink]="['/DateCountdown']" [routerLinkActive]="['ui-button-success']"></button>
  </div>
</p-toolbar>